out
.svn
*.swp
.DS_Store
*.sublime-project
*.sublime-workspace
node_modules
build/dep.mk
build/local.mk
bin/traceur.min.js
bin/traceur.ugly.js
src/syntax/trees/ParseTreeType.js
src/syntax/trees/ParseTrees.js
src/syntax/ParseTreeVisitor.js
src/codegeneration/ParseTreeTransformer.js
src/outputgeneration/SourceMapIntegration.js
test/errsfile.json
test/bench/esprima
test/test-list.js
*.dep
