out
.svn
*.swp
.DS_Store
*.sublime-project
*.sublime-workspace
node_modules
build/dep.mk
build/local.mk
bin/traceur.min.js
src/syntax/trees/ParseTreeType.js
src/syntax/trees/ParseTrees.js
test/errsfile.json
