*.dep
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.svn
bin/traceur-runtime.js
build/compiled-by-previous-traceur.js
build/currentSemVer.mk
build/local.mk
build/node
build/previous-commit-traceur.js
node_modules
out
src/codegeneration/ParseTreeTransformer.js
src/outputgeneration/SourceMapIntegration.js
src/syntax/ParseTreeVisitor.js
src/syntax/trees/ParseTreeType.js
src/syntax/trees/ParseTrees.js
test/unit/codegeneration/PlaceholderParser.generated.js
test/unit/semantics/FreeVariableChecker.generated.js
test/unit/node/resources/compile-amd
test/unit/node/resources/compile-cjs
test/amd-compiled
test/bench/esprima
test/commonjs-compiled
test/errsfile.json
test/test-list.js
test/wiki/CompilingOffline/out/*
